table,th,tr{

    text-align: left;

}
table{
    margin-top: 50px;
     width:100%;
    border-collapse: collapse;
 border: 1px solid black;
}
tr:nth-child(even) {background-color:#f2f2f2; }
.line1 {
  float: left;
    margin-left: 10px;
    margin-right: 20px;
}
.line2 {
  float: left;
}
.submit_butt{
    padding: 15px 32px;
    background-color: #4CAF50;
    margin-top: 50px;
    margin-left: 10px;
    float: left;
}
tr:first-child{border: 1px solid black}
body{
    background: lightgray;
}
.line3{
    float:left
}