{% extends "index.html" %}
{% block title %} formularz {% endblock %}
{% block content %}
<form action="#" method = "post">
<div class="line1">
    <p >Patient gender:</p>
    <p ><input class="line1" type="range" value="1" min="0" max="1" oninput="if(this.value==0) cohort_range_out.value = 'female'; else cohort_range_out.value = 'male'"  name="cohort"> <output name="cohort_range_out" id="cohort_range_out">male</output></p>
   <p >Age:</p>
    <p><input class="line1"  type="range" value="0" min="0" max="150" oninput="age_range_out.value = this.value" name="age"> <output name="age_range_out" id="age_range_out">0</output></p>

    </div>
<div class="line2">
    <p >plasma CA19:</p>
    <p><input  type="number" name="plasma_CA19" min="-1" step="any" required></p>
    <p >creatitine:</p>
    <p ><input class="line2"  type="number" name="creatitine" min="0" step="any" required></p>
    <p >LYVE1:</p>
    <p ><input class="line2"  type="number" name="LYVE1" min="0" step="any" required></p>
    <p >REG1B:</p>
    <p ><input class="line2"  type="number" name="REG1B" min="0" step="any" required></p>
    <p >TFF1:</p>
    <p ><input class="line2"  type="number" name="TFF1" min="0"  step="any" required></p>
    <p >REG1A:</p>
    <p ><input class="line2"  type="number" name="REG1A" min="-1"  step="any" required></p>

</div>
<div>
    <div class="line3">
        <p>plasma CA19: Blood plasma levels of CA 19–9 monoclonal antibody that is often elevated in patients with pancreatic cancer.
            </p>
        <p>creatitine: Urinary biomarker of kidney function</p>
        <p>LYVE1: Urinary levels of Lymphatic vessel endothelial hyaluronan receptor 1, a protein that may play a role in tumor metastasis</p>
        <p>REG1B: Urinary levels of a protein that may be associated with pancreas regeneration.</p>
        <p>TFF1: Urinary levels of Trefoil Factor 1, which may be related to regeneration and repair of the urinary tract</p>
        <p>REG1A: Urinary levels of a protein that may be associated with pancreas regeneration.</p>

    </div>
 <input type="submit" class="submit_butt"  value="submit">
</div>
</form>
<row style = "width: 100%; display: flex; justify-content: center;">
<table class="table">

    {% for line in lines %}
    <tr>
        {% for word in line %}
            <th> {{ word }}</th>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</row>
    <p><a href="{{ url_for('downloadFile') }}">Download data sheet</a></p>


{% endblock %}